<div data-section-id="{{ section.id }}" data-section-type="section-collection-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-collection-v1 pd-small" style="background: {{section.settings.bg_section}}">
    <div class="container container-v2">
      <div class="col-12 col-md-10 col-lg-8 px-0 mx-auto text-center">

        {% if section.settings.title_heading != blank %}
        <h3 class="title_heading mb-0" style="color: {{section.settings.color_title}}">{{section.settings.title_heading}}</h3>
        {% endif %}

      </div>
      <div class="row">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == 'colection' %}
        <div class="col-12 col-sm-6 col-lg-4 col-item">
          <div class="item">
            <div class="box-img">

              <a href="{{block.settings.block_url}}" class="">
                {% if block.settings.block_img != blank %}
                <img data-src="{{block.settings.block_img | img_url:'master'}}" class="lazyload img-fluid w-100" alt="_img_collection">
                {% else %}
                <img data-src="//via.placeholder.com/450x240" class="lazyload img-fluid w-100" alt="_img_collection">
                {% endif %}
              </a>

            </div>
            <div class="category-info">
              <div class="box-info">
                {% if block.settings.title_collection != blank %}
                <h3 class="title-collection" style="color: {{block.settings.color_title}}">
                  <a href="{{block.settings.block_url}}" class="">
                    {{block.settings.title_collection}}
                  </a>
                </h3>
                {% endif %}
                {% if block.settings.sub_title != blank %}
                <p class="sub-title mb-0" style="color: {{block.settings.color_subtitle}}">{{block.settings.sub_title}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>
    </div>
  </div>
</div>

<style>
</style>

{% schema %}
{
  "name": "COLLECTION V1",
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background Section",
      "default": "#f4f4f4"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Heading",
      "default": "Featured Categories"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "colection",
      "name": "Item Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "info": "450 x 240px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_collection",
          "label": "Title Collection",
          "default": "Dolce & Gabbana"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "(30 items)"
        },
        {
          "type": "color",
          "id": "color_subtitle",
          "label": "Color Sub Title",
          "default": "#777"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL collection",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "COLLECTION V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "colection",
          "settings": {
            "title_collection": "Dolce & Gabbana",
			"sub_title": "(20 items)"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Calvin Klein",
			"sub_title": "(12 items)"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Montblanc",
			"sub_title": "(30 items)"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Christian Dior",
			"sub_title": "(25 items)"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Jimmy Choo",
			"sub_title": "(18 items)"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Versace",
			"sub_title": "(20 items)"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
